$paperColor: #dddddd;
$paperBorderColor: #a5b9cd;

$blue: #2777d6;
$lightBlue: #79a9d9;

$mapBackgroundColor: #161c1a;
$backgroundColor: #ffffff;
$titleTextColor: #ffffff;
$textColor: #182537;
$buttonColor: #717a87;
$buttonHoverColor: #1c579a;
$hoverColor: rgba(255, 255, 255, 0.1);